* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: stretch;
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    .add-status {
      width: 100%;
      border: none;
      padding: 10px 0;
      background-color: rgba(48, 79, 255, 0.671);
      color: white;
      font-size: 1.5rem;
    }
  }
}
